<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="injectedBean1" class="info.notsalty.springtutorial.InjectedBean">
		<property name="name" value="wstrzykiwany bean 1" />
	</bean>
	
	<bean id="injectedBean2" class="info.notsalty.springtutorial.InjectedBean" >
		<property name="name" value="wstrzykiwany bean 2"></property>
	</bean>
	
	<bean id="someBean" class="info.notsalty.springtutorial.SomeBean" autowire="byName">
	<property name="injectedBean2" ref="injectedBean1"></property>
	</bean>


</beans>
